.navbar {
  background-color: #f3f3f3;
  border: 1px solid #e6e6e6;
  display: flex;
}

.navbar a {
  padding: 15px;
  color: #484C55;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #e6e6e6;
}

.navbar input {
  align-self: center;
  margin: 0 10px;
  padding: 7px;
}
